[staticPage]
useContent = 1
default = 0

[localePicker]
forceUrl = 1
==
<!DOCTYPE html>
<html>
<head>
{% partial 'site/head-default' %}
</head>
<body>
    {repeater name="slider" label="Slider" prompt="Add another content section" tab="Slider"}
        {#variable name="slidercaption" label="Slide Caption" type="richeditor" size="small"}{/variable#}
        {variable type="text" name="slide_title" label="Title"}{/variable}
        {variable type="textarea" name="slide_text" label="Text" size="small"}{/variable}
        {variable type="text" name="slide_url" label="URL"}{/variable}
        {variable type="checkbox" name="slide_urlext" label="Is URL external"}{/variable}
        {variable name="slide_image" label="Image" type="mediafinder" mode="image"}{/variable}
    {/repeater}
    <header id="layout-header">
        {% partial 'content/nav' %}
        {% partial 'content/slider' %}
    </header>
    <section id="layout-content">
        {% component 'staticPage' %}
    </section>
    <footer id="layout-footer">
        {% partial 'site/footer' %}
    </footer>
{% partial 'site/scripts' %}
{% scripts %}
</body>
</html>