[viewBag]

[staticMenuMultilingual]
code = "menu"
==
<nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-toggleable-sm" data-toggle="affix">
    <div class="container">
        <a class="navbar-brand" href="/{{ activeLocale }}"><img src="/storage/app/media/logo-mizarstvo-zupancic.png" class="logo" id="brandlogo" alt="Mizarstvo Jože Zupančič s.p."></a>
        {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>#}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!--span class="navbar-toggler-icon"></span-->
            <div class="animated-icon"><span></span><span></span><span></span></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% for item in menuItems if not item.viewBag.isHidden%}
                    <li class="nav-item{% if item.items %} dropdown{% endif %}{% if item.isActive or item.isChildActive %} active{% endif %}">
                        {% if not item.items %}
                            <a class="nav-link" href="{{ item.url }}"{{ item.viewBag.isExternal ? ' target="_blank"' }}>{{ item.title }}</a>
                        {% else %}
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ item.url }}" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
                            <div class="dropdown-menu">
                            {% for sitem in item.items if not item.items.viewBag.isHidden%}
                                <a class="dropdown-item{% if sitem.isActive %} active{% endif %}" href="{{ sitem.url }}"{{ sitem.viewBag.isExternal ? ' target="_blank"' }}>{{ sitem.title }}</a>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                {#<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/{{ activeLocale }}" role="button" aria-haspopup="true" aria-expanded="false">{{ activeLocale | capitalize }}</a>
                    <div class="dropdown-menu">
                    {% for code, name in locales %}
                        {% if activeLocale != code %}
                            <a class="dropdown-item" href="/{{ code }}">{{ name }}</a>
                        {% endif %}
                    {% endfor %}
                    </div>
                </li>#}
            </ul>
        </div>
    </div>
</nav>