[viewBag]

[staticMenuMultilingual]
code = "menu"
==
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row corpo">
                <div class="col-4"><img src="/storage/app/media/footer-tree-mz.svg" class="logo" alt="Mizarstvo Zupančič"></div>
                <div class="col-8" style="padding-top:2em;">
                    <span class="mz">Mizarstvo</span><br>
                    <strong>Jože Zupančič s.p.</strong><br>
                    <br>
                    Sevno 12A<br>
                    8000 Novo mesto<br>
                    <br>
                    <strong>GSM: +386 (0)41 682 512</strong><br>
                    <strong><a href="mailto:info@mizarstvo-zupancic.si" title="Kontaktirajte nas">info@mizarstvo-zupancic.si</a></strong><br>
                </div>                
            </div>
        </div>
        <div class="col-12 col-lg-3 text-center text-lg-left menu" style="padding-top:2em;">
            {% for item in menuItems if not item.viewBag.isHidden%}
                <a href="{{ item.url }}">{{ item.title }}</a><br>
            {% endfor %}
         </div>
        <div class="col-12 col-lg-3 text-center text-lg-right" style="padding-top:2em;">
            <p class="social">
                <a href="https://www.facebook.com/MizarstvoZupancicJoze/" target="_blank"><i class="fab fa-facebook"></i></a>
                <!--a href="https://twitter.com/AMcyclingteam" target="_blank"><i class="fab fa-twitter"></i></a-->
                <!--a href="https://www.youtube.com/channel/UChRePskjcnLBn9dmgPmdkSg" target="_blank"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/adriamobilcycling/" target="_blank"><i class="fab fa-instagram"></i></a><br-->
            </p>
            &copy; 2020{% if today > 2020 %} - {{ "now"|date("Y") }}{% endif %} {{ 'page.title'|_ }}
        </div>
    </div>
</div>